body {
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
   background-color: #eee;
   color: #333;
   margin: 0;
   padding: 0;
   height: 100vh;
   position: relative;
   margin-top: 90px;
}

a {
   color: initial;
   display: inline-block;
   text-decoration: none;
}

li {
   text-align: left;
}

.btn,
button {
   border: none;
   background: blue;
   padding: 18px 25px;
   color: white;
   text-transform: uppercase;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s;
}
.btn,
button:hover {
   background: #555;
   transform: translateY(-3px);
}

[class*='form__'] {
   display: block;
   width: 100%;
   margin: 15px 0;
   padding: 10px;
   color: #333;
   max-width: 400px;
}

input:not([type='submit']),
.form__input {
   background-color: #d6eafa;
   border: none;
}

.popup {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   background-color: white;
   box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
   min-width: 400px;
   padding: 15px;
}
.popup textarea {
   min-height: 25vh;
}
@media (max-width: 660px) {
   .popup {
      width: 100%;
   }
}
