body {
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
   background-color: #eee;
   color: #333;
   margin: 0;
   padding: 0;
   height: 100vh;
   position: relative;
   margin-top: 90px;
}

a {
   color: initial;
   display: inline-block;
   text-decoration: none;
}

[class*='form__'] {
   display: block;
   width: 100%;
   margin: 15px 0;
   padding: 10px;
   color: #333;
}

.nav {
   padding: 0 40px;
   background-color: white;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   border: 1px solid #eee;
}
.nav a {
   padding: 20px;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: normal;
}
.nav a:hover,
.nav a.active {
   background-color: blue;
   color: white;
   font-weight: bold;
}

.page {
   width: 80%;
   max-width: 900px;
   margin: 30px auto;
   background-color: white;
}

.editor {
   width: 100%;
   padding: 15px;
   display: inline-block;
   vertical-align: top;
}
.select-template {
   display: inline-block;
   padding: 15px;
}
.editor h4,
.select-template h4 {
   text-transform: uppercase;
}

.select-template img {
   display: inline-block;
   margin-bottom: 40px;
}
.preview {
}

.template.developer-1 {
   background-color: white;
}

.template .developer-1__header {
   color: white;
   background-color: #333;
   padding: 80px 90px;
   letter-spacing: 0.3px;
}

.template .developer-1__header * {
   color: #ddd;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 15px;
}
.template .developer-1__header > * {
   display: inline-block;
   margin-right: 15px;
   margin-bottom: 10px;
}

.template.developer-1 .template__sections > *:not(:last-child) {
   margin-bottom: 45px;
}

.template .developer-1__header .template__name {
   color: white;
   font-size: 40px;
   margin-bottom: 30px;
   display: block;
}
.template .developer-1__header .template__email {
   text-transform: lowercase;
}

.template.developer-1 h4 {
   font-size: 14px;
   text-transform: uppercase;
}
.template.developer-1 p {
   font-size: 18px;
}

.template.developer-1 .template__sections {
   padding: 25px 80px;
   text-align: center;
}
